In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('listings_summary.csv')

In [3]:
df

,id,scrape_id,last_scraped,experiences_offered,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,...,review_scores_value,requires_license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,2.018110e+13,43411,none,2217,Ian,18-08-2008,"Key Biscayne, Florida, United States",within an hour,0.96,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76
1,2695,2.018110e+13,43411,none,2986,Michael,16-09-2008,"Berlin, Berlin, Germany",NaN,NaN,...,10.0,t,NaN,f,f,flexible,f,f,1,1.42
2,3176,2.018110e+13,43411,none,3718,Britta,19-10-2008,"Coledale, New South Wales, Australia",within a day,1.00,...,9.0,t,NaN,t,f,strict_14_with_grace_period,f,f,1,1.25
3,3309,2.018110e+13,43411,none,4108,Jana,07-11-2008,"Berlin, Berlin, Germany",NaN,NaN,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,1,0.39
4,7071,2.018110e+13,43411,none,17391,Bright,16-05-2009,"Berlin, Berlin, Germany",within an hour,1.00,...,9.0,t,NaN,f,f,moderate,f,f,1,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,2.018110e+13,43411,none,87555909,Ulisses,02-08-2016,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,1,NaN
22548,29857108,2.018110e+13,43411,none,67537363,JÃ¶rg,17-04-2016,"Berlin, Berlin, Germany",within an hour,0.88,...,NaN,t,NaN,t,f,flexible,f,f,6,NaN
22549,29864272,2.018110e+13,43411,none,3146923,Martin,03-08-2012,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,2,NaN
22550,29866805,2.018110e+13,43411,none,36961901,Arte Luise,28-06-2015,"Berlin, Berlin, Germany",within a few hours,0.90,...,NaN,t,NaN,f,f,flexible,f,f,3,NaN
22551,29867352,2.018110e+13,43411,none,177464875,Sebastian,09-03-2018,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,1,NaN

In [4]:
df.head()

,id,scrape_id,last_scraped,experiences_offered,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,...,review_scores_value,requires_license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,2.018110e+13,43411,none,2217,Ian,18-08-2008,"Key Biscayne, Florida, United States",within an hour,0.96,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76
1,2695,2.018110e+13,43411,none,2986,Michael,16-09-2008,"Berlin, Berlin, Germany",NaN,NaN,...,10.0,t,NaN,f,f,flexible,f,f,1,1.42
2,3176,2.018110e+13,43411,none,3718,Britta,19-10-2008,"Coledale, New South Wales, Australia",within a day,1.00,...,9.0,t,NaN,t,f,strict_14_with_grace_period,f,f,1,1.25
3,3309,2.018110e+13,43411,none,4108,Jana,07-11-2008,"Berlin, Berlin, Germany",NaN,NaN,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,1,0.39
4,7071,2.018110e+13,43411,none,17391,Bright,16-05-2009,"Berlin, Berlin, Germany",within an hour,1.00,...,9.0,t,NaN,f,f,moderate,f,f,1,1.75

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 76 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                22552 non-null  int64
 1   scrape_id                         22552 non-null  float64
 2   last_scraped                      22552 non-null  int64
 3   experiences_offered               22552 non-null  object
 4   host_id                           22552 non-null  int64
 5   host_name                         22526 non-null  object
 6   host_since                        22526 non-null  object
 7   host_location                     22436 non-null  object
 8   host_response_time                9658 non-null   object
 9   host_response_rate                9657 non-null   float64
 10  host_acceptance_rate              0 non-null      float64
 11  host_is_superhost                 22526 non-null  object
 12  host_neighbourhood                17458 non-null  object
 13  host_listings_count               22526 non-null  float64
 14  host_total_listings_count         22526 non-null  float64
 15  host_verifications                22526 non-null  object
 16  host_has_profile_pic              22526 non-null  object
 17  host_identity_verified            22526 non-null  object
 18  street                            22552 non-null  object
 19  neighbourhood                     21421 non-null  object
 20  neighbourhood_cleansed            22552 non-null  object
 21  neighbourhood_group_cleansed      22552 non-null  object
 22  city                              22547 non-null  object
 23  state                             22468 non-null  object
 24  zipcode                           21896 non-null  object
 25  market                            22489 non-null  object
 26  smart_location                    22552 non-null  object
 27  country_code                      22552 non-null  object
 28  country                           22552 non-null  object
 29  latitude                          22552 non-null  float64
 30  longitude                         22552 non-null  float64
 31  is_location_exact                 22552 non-null  object
 32  property_type                     22552 non-null  object
 33  room_type                         22552 non-null  object
 34  accommodates                      22552 non-null  int64
 35  bathrooms                         22520 non-null  float64
 36  bedrooms                          22534 non-null  float64
 37  beds                              22512 non-null  float64
 38  bed_type                          22552 non-null  object
 39  amenities                         22552 non-null  object
 40  square_feet                       446 non-null    float64
 41  price                             22552 non-null  object
 42  weekly_price                      3681 non-null   object
 43  monthly_price                     2659 non-null   object
 44  security_deposit                  13191 non-null  object
 45  cleaning_fee                      15406 non-null  object
 46  guests_included                   22552 non-null  int64
 47  extra_people                      22552 non-null  object
 48  minimum_nights                    22552 non-null  int64
 49  maximum_nights                    22552 non-null  int64
 50  calendar_updated                  22552 non-null  object
 51  has_availability                  22552 non-null  object
 52  availability_30                   22552 non-null  int64
 53  availability_60                   22552 non-null  int64
 54  availability_90                   22552 non-null  int64
 55  availability_365                  22552 non-null  int64
 56  calendar_last_scraped             22552 non-null  int64
 57  number_of_reviews                 22552 non-null  int64
 58  first_review                      18638 non-null  float64
 59  last_review                       18644 non-null  float64
 60  review_scores_rating              18163 non-null  float64
 61  review_scores_accuracy            18138 non-null  float64
 62  review_scores_cleanliness         18141 non-null  float64
 63  review_scores_checkin             18120 non-null  float64
 64  review_scores_communication       18134 non-null  float64
 65  review_scores_location            18121 non-null  float64
 66  review_scores_value               18117 non-null  float64
 67  requires_license                  22552 non-null  object
 68  jurisdiction_names                0 non-null      float64
 69  instant_bookable                  22552 non-null  object
 70  is_business_travel_ready          22552 non-null  object
 71  cancellation_policy               22552 non-null  object
 72  require_guest_profile_picture     22552 non-null  object
 73  require_guest_phone_verification  22552 non-null  object
 74  calculated_host_listings_count    22552 non-null  int64
 75  reviews_per_month                 18638 non-null  float64
dtypes: float64(22), int64(14), object(40)
memory usage: 13.1+ MB

In [6]:
df.shape

(22552, 76)

In [7]:
df.columns

Index(['id', 'scrape_id', 'last_scraped', 'experiences_offered', 'host_id',
       'host_name', 'host_since', 'host_location', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [8]:
df.drop(['host_response_rate','jurisdiction_names'],axis=1,inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 74 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                22552 non-null  int64
 1   scrape_id                         22552 non-null  float64
 2   last_scraped                      22552 non-null  int64
 3   experiences_offered               22552 non-null  object
 4   host_id                           22552 non-null  int64
 5   host_name                         22526 non-null  object
 6   host_since                        22526 non-null  object
 7   host_location                     22436 non-null  object
 8   host_response_time                9658 non-null   object
 9   host_acceptance_rate              0 non-null      float64
 10  host_is_superhost                 22526 non-null  object
 11  host_neighbourhood                17458 non-null  object
 12  host_listings_count               22526 non-null  float64
 13  host_total_listings_count         22526 non-null  float64
 14  host_verifications                22526 non-null  object
 15  host_has_profile_pic              22526 non-null  object
 16  host_identity_verified            22526 non-null  object
 17  street                            22552 non-null  object
 18  neighbourhood                     21421 non-null  object
 19  neighbourhood_cleansed            22552 non-null  object
 20  neighbourhood_group_cleansed      22552 non-null  object
 21  city                              22547 non-null  object
 22  state                             22468 non-null  object
 23  zipcode                           21896 non-null  object
 24  market                            22489 non-null  object
 25  smart_location                    22552 non-null  object
 26  country_code                      22552 non-null  object
 27  country                           22552 non-null  object
 28  latitude                          22552 non-null  float64
 29  longitude                         22552 non-null  float64
 30  is_location_exact                 22552 non-null  object
 31  property_type                     22552 non-null  object
 32  room_type                         22552 non-null  object
 33  accommodates                      22552 non-null  int64
 34  bathrooms                         22520 non-null  float64
 35  bedrooms                          22534 non-null  float64
 36  beds                              22512 non-null  float64
 37  bed_type                          22552 non-null  object
 38  amenities                         22552 non-null  object
 39  square_feet                       446 non-null    float64
 40  price                             22552 non-null  object
 41  weekly_price                      3681 non-null   object
 42  monthly_price                     2659 non-null   object
 43  security_deposit                  13191 non-null  object
 44  cleaning_fee                      15406 non-null  object
 45  guests_included                   22552 non-null  int64
 46  extra_people                      22552 non-null  object
 47  minimum_nights                    22552 non-null  int64
 48  maximum_nights                    22552 non-null  int64
 49  calendar_updated                  22552 non-null  object
 50  has_availability                  22552 non-null  object
 51  availability_30                   22552 non-null  int64
 52  availability_60                   22552 non-null  int64
 53  availability_90                   22552 non-null  int64
 54  availability_365                  22552 non-null  int64
 55  calendar_last_scraped             22552 non-null  int64
 56  number_of_reviews                 22552 non-null  int64
 57  first_review                      18638 non-null  float64
 58  last_review                       18644 non-null  float64
 59  review_scores_rating              18163 non-null  float64
 60  review_scores_accuracy            18138 non-null  float64
 61  review_scores_cleanliness         18141 non-null  float64
 62  review_scores_checkin             18120 non-null  float64
 63  review_scores_communication       18134 non-null  float64
 64  review_scores_location            18121 non-null  float64
 65  review_scores_value               18117 non-null  float64
 66  requires_license                  22552 non-null  object
 67  instant_bookable                  22552 non-null  object
 68  is_business_travel_ready          22552 non-null  object
 69  cancellation_policy               22552 non-null  object
 70  require_guest_profile_picture     22552 non-null  object
 71  require_guest_phone_verification  22552 non-null  object
 72  calculated_host_listings_count    22552 non-null  int64
 73  reviews_per_month                 18638 non-null  float64
dtypes: float64(20), int64(14), object(40)
memory usage: 12.7+ MB

In [10]:
df.isnull()

,id,scrape_id,last_scraped,experiences_offered,host_id,host_name,host_since,host_location,host_response_time,host_acceptance_rate,...,review_scores_location,review_scores_value,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,False,False,False,False,False,False,False,False,True,True,...,True,True,False,False,False,False,False,False,False,True
22548,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,False,False,False,False,False,True
22549,False,False,False,False,False,False,False,False,True,True,...,True,True,False,False,False,False,False,False,False,True
22550,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,False,False,False,False,False,True
22551,False,False,False,False,False,False,False,False,True,True,...,True,True,False,False,False,False,False,False,False,True

In [11]:
df.isnull()

,id,scrape_id,last_scraped,experiences_offered,host_id,host_name,host_since,host_location,host_response_time,host_acceptance_rate,...,review_scores_location,review_scores_value,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,False,False,False,False,False,False,False,False,True,True,...,True,True,False,False,False,False,False,False,False,True
22548,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,False,False,False,False,False,True
22549,False,False,False,False,False,False,False,False,True,True,...,True,True,False,False,False,False,False,False,False,True
22550,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,False,False,False,False,False,True
22551,False,False,False,False,False,False,False,False,True,True,...,True,True,False,False,False,False,False,False,False,True

In [12]:
df.isnull().sum()

id                                     0
scrape_id                              0
last_scraped                           0
experiences_offered                    0
host_id                                0
                                    ...
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
calculated_host_listings_count         0
reviews_per_month                   3914
Length: 74, dtype: int64

In [13]:
df.isnull().sum().sort_values()

id                          0
country_code                0
country                     0
latitude                    0
longitude                   0
                        ...
host_response_time      12894
weekly_price            18871
monthly_price           19893
square_feet             22106
host_acceptance_rate    22552
Length: 74, dtype: int64

In [14]:
df.isnull().sum().sort_values(ascending=False)

host_acceptance_rate    22552
square_feet             22106
monthly_price           19893
weekly_price            18871
host_response_time      12894
                        ...
price                       0
guests_included             0
extra_people                0
minimum_nights              0
bed_type                    0
Length: 74, dtype: int64

In [15]:
df.isnull().sum().sum()

162936

In [16]:
round(df.isnull().sum().sort_values(ascending=False)*100/df.isnull().sum().sum(),2)

host_acceptance_rate    13.84
square_feet             13.57
monthly_price           12.21
weekly_price            11.58
host_response_time       7.91
                        ...
price                    0.00
guests_included          0.00
extra_people             0.00
minimum_nights           0.00
bed_type                 0.00
Length: 74, dtype: float64

In [17]:
df.isnull().sum().sort_values(ascending=False)*100/df.shape[0]

host_acceptance_rate    100.000000
square_feet              98.022348
monthly_price            88.209471
weekly_price             83.677723
host_response_time       57.174530
                           ...
price                     0.000000
guests_included           0.000000
extra_people              0.000000
minimum_nights            0.000000
bed_type                  0.000000
Length: 74, dtype: float64

In [21]:
numerical_columns =[]
non_numerical_columns = []

In [23]:
for i in df.columns:
    if (df[i].dtype=='int64' or df[i].dtype=='float'):
        numerical_columns.append(i)
    else:
        non_numerical_columns.append(i)

In [24]:
len(numerical_columns)

34

In [25]:
len(non_numerical_columns)

40

In [27]:
df.drop(columns=['host_acceptance_rate',
'square_feet','monthly_price','weekly_price'
,'host_response_time'],axis =  1, inplace=True)

In [28]:
df.shape

(22552, 69)

In [29]:
round(df.isnull().sum().sort_values(ascending=False)*100/df.isnull().sum().sum(),2)

security_deposit         14.05
cleaning_fee             10.73
host_neighbourhood        7.65
review_scores_value       6.66
review_scores_checkin     6.65
                         ...
guests_included           0.00
extra_people              0.00
minimum_nights            0.00
maximum_nights            0.00
id                        0.00
Length: 69, dtype: float64